<%- include('partials/head', {'title': title}) %>
<style>
    .column {
        float: left;
        width: 33.33%;
      }
      
      /* Clear floats after the columns */
      .row:after {
        content: "";
        display: table;
        clear: both;
      }
</style>

<div class="row">
    <div class="col-md-8">col-sm-8</div>
    <div class="col-md-4">col-sm-4</div>
  </div>





<div class="container">
    <div class="row">
      <div class="col-sm">
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8tIUTAahr5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm">
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NjIU8lSNTy4" title="YouTube video player" frameborder="2" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-sm">
        One of three columns
      </div>
    </div>
  </div>



<div class="row">
    <div class="column">
        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/8tIUTAahr5g" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

    </div>
    <div class="column">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zNxi2s36tS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="column">

        <div>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NjIU8lSNTy4" title="YouTube video player" frameborder="2" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
  </div>




